* {box-sizing: border-box;}

body { 
  /* background-color: #1c75bb; */
  margin: 0;
  font-family: 'Nunito',sans-serif;
}

.header {
  text-align: center;
  overflow: hidden;
  background-color: #1c75bb;
  padding: 20px 10px;
  text-decoration: none;
}

.header a, .header .logo {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 10px;
  border-radius: 4px;
}

.header .logo {
  color:#fff;
  font-size: 25px;
  font-weight: bold;
}

footer {
	background-color: #004380;
	color: #fff;
	padding: 15px;
	font-size: .6em;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer a {
	color: #fff !important;
}

footer a:hover {
	color: #F70408 !important;
}

.panel{
  border-color:rgb(0, 0, 0);
  margin-top: 30px;
  font: 12px "Nunito";
	padding: 20px;
  }


@media screen and (max-width: 500px) {
  .header a {
    font-size: 15px;
    display: inherit;
    text-align: left;
  }
  .header-right {
    padding-top: 10%;
      font-size: 15px;
    float: none;
  }
}
